<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create-user">Create User</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="form-delete">
        <form action="/delete" method="post">
            <fieldset>
                <legend>Delete a user</legend>
                <div class="input-group d-none">
                    <label for="">Id:</label>
                    <input value="<%= userEdit.id %>" id="emailId" name="id" type="text">
                </div>
                <div class="input-group">
                    <label for="">Are yout sure delete this user with Email:</label>
                    <input value="<%= userEdit.email %>" id="emailId" name="email" type="text">
                </div>

                <div>
                    <button class="btn">Confirm</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>